/****************************************************/
/****************************************************/
/**/
/**/
/*                  forslag css                     */
/**/
/**/
/****************************************************/
/****************************************************/

#containerSuggestions {
    width: 250px;
    float: left;
    margin-bottom: -200px;
}

        /* Search section */
        #search {
            position: relative;
        }

        #search label {
            position: absolute;
            left: 10px;
            top: 9px;
        }

        #search-input {
            width: 100%;
        }

        #search #search-input, #search .hint {
            padding-left: 36px;
            padding-right: 36px;
            border-radius: 23px;
        }

        #search #search-clear {
            text-decoration: none;
            position: relative;
            top: -31px;
            left: 88%;
            color: #b3b3b3;
            font-size: inherit;
        }

        #search #search-clear:hover {
            color: #e85c5c;
        }

        .fa-search:before {
            content: "\f002";
        }

        .fa-times-circle:before {
            content: "\f057";
        }

        #addSuggestionButton {
            position: relative;
            font-size: 0.9em;
            color: #666;
            background: #fff;
            border: none;
            left: -15px;
        }

/*
        #addSuggestionButton:hover {
            background: #eee;
        }
*/

        #addSuggestionButton i {
            margin-right: 5px;
            
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s;
        }

        #addSuggestionButton:hover > i.fa-plus {
            color: #228B22;
            
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        #addSuggestionButton:hover > i.fa-minus {
            color: #e85c5c;
            
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        /* PLUS-MINUS button animated */
        /*
        #one, #two {
            position: absolute;
            border-radius: 3px;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -o-transition: .15s;
            -ms-transition: .15s;
            -moz-transition: .15s;
            -webkit-transition: .15s;
            transition: .15s;

            background: #228B22;
        }

        #one {
            top: 16.5px;
            left: 10px;
            right: 10px;
            height: 3px;
        }

        #two {
            top: 10px;
            left: 16.5px;
            bottom: 10px;
            width: 3px;
        }

        #icon {
            position: relative;
            width: 35px;
            height: 35px;
            background: transparent;
            border-radius: 20px;
        }

        #icon:hover {
            cursor: pointer;
            background: #eee;
        }

        #icon:hover > #two {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);

            background: #e85c5c;
        }
        */

/* Add suggestion section */  
#addSuggestion {
    visibility: hidden;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
    
    position: relative;
    top: -15px;
}

#addSuggestion * {
    margin-top: 15px;
}

#addSuggestion input {
    width: 100%;
    border-radius: 15px;
    text-align: center;
    margin-top: 15px;
}

#addSuggestion input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    text-align: center;
}

#addSuggestion input::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    text-align: center;
}

#addSuggestion input:-ms-input-placeholder { /* IE 10+ */
    color: #000;
    text-align: center;
}

#addSuggestion input:-moz-placeholder { /* Firefox 18- */
    color: #000;
    text-align: center;
}

input[name=description] {
    height: 60px !important;
}

#send {
    position: relative;
    float: right;

    background-color: white;
}

        /* Sort by section */
        .sortBy {
            position: relative;
            margin-bottom: 50px;
        }

        #sortByLabel {
            color: #bbb;
        }   

        #sortView {
            position: absolute;
            right: -10px;
            top: 15px;
        }

        #sortView i {
            font-size: 1.1em;
            margin-right: 10px;
            color: #666;
        }

        #nyeste {
            margin-right: 15px;
        }

.selectCategories {
    width: 85%;
    right: 0px;
    border: 1px solid #ccc;
}

.selectCategories h3 {
    position: relative;
    left: 10px;
    top: -13px;
    background-color: #fff;
    margin: 0 auto;
    margin-right: 35px;
    padding: 0px 15px 0px 15px;
}

.selectCategories ul {
    padding-left: 60px;
    margin-bottom: 30px;
}

        /* Content section */
        .contentBlockSugg {
            margin-bottom: 50px;
        }

        .g6-threequarter {
            width: 74%;
            overflow: hidden;
        }

        .votes {
            width: 80px !important;
            border: 1px solid #ccc;
            margin-right: 35px;
            margin-bottom: 5px;
            border-radius: 5px;
            float: left;
        }

        .votesCount {
            font-size: 1.1em;
            margin-top: -7px;
        }

        .stemmer p {
            font-size: .9em;
            margin-top: -15px !important;
        }

        .vote {
            color: green;
            padding: 0px !important;
            margin-top: -10px !important;
            margin-bottom: -13px !important;
            border: none;
            width: 100%;
            background-color: #fafafa;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .vote:hover {
            background-color: #d0e5d0;
        }

        .voted {
            padding: 0px !important;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: #d0e5d0;
            margin-top: -10px;
            visibility: hidden;
            color: green;
        }

        .text {
            margin-top: -16px;
            margin-bottom: 30px;
            min-height: 50px;
        }

        .text p {
            /* font-size: .91em; */
        }

        .additionalData p {
            color: #c1c1c1 !important;
            font-size: .8em;
        }

        .additionalData span {
            color: #d1d1d1 !important;
        }

        .addSpace {
            margin-left: 10px !important;
        }

/****************************************************/
/****************************************************/
/**/
/**/
/*             apply below resolutions css          */
/**/
/**/
/****************************************************/
/****************************************************/

@media screen and (max-width: 900px) {
    
    .votes {
        margin-right: 30px !important;
    }
    
    .selectCategories ul {
        padding-left: 18px;
    }
    
    /* Text wraps around votebox */
    .g6-threequarter {
        overflow: visible !important;
        width: 100%;
    }
}