#header { 
    height: 80px; 
    background: #fff;
    margin: 0 0 10px 0;
}

#header a { 
    color: #000; 
    text-decoration: none;
}

#header h1 {
    position:absolute;
    top:10px;
    color: #000;
    font-size: 2em; 
    margin: 0;
    padding: 10px;
    border: 3px solid black;
    width: 120px;
}

#headerlinks {
    float: right;
    padding: 30px 20px 0 0;
}

#headerlinks a {
    color:#000;
    padding: 0 10px;
}

table {
    width: 100%;
    opacity:0;
    animation-name: textop;
    animation-delay: 1s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
        
@-webkit-keyframes textop {
    from {opacity:0;}
    to {opacity:1;}
}

tr > td {
    text-align: center;
    padding-bottom: 5px;
}

tr > th{
    font-family:"Arial Black", "Gadget", sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
}

#line{
    height:3px;
    width:1000px;
    margin:auto;
    margin-top: 0;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(10,10,10,1)), color-stop(19%,rgba(8,8,8,1)), color-stop(80%,rgba(3,3,3,0)), color-stop(100%,rgba(1,1,1,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(10,10,10,1) 0%,rgba(8,8,8,1) 19%,rgba(3,3,3,0) 80%,rgba(1,1,1,0) 100%); /* Chrome10+,Safari5.1+ */
}

#dropdown {
    display:inline;
    float: right;
    padding: 30px 20px 0 0;
}