.sok-kategorier {
    margin: 15px;
    width: 100px;
}

.g6-check, .g6-radio {
    width: 16px;
    height: 16px;
    position: relative;
    top: 6px;
}

.select-kategorier {

}

.checkboxes {
    margin: 0px 15px 0px 15px;
    width: 15px;
}

.g6-check {
    margin-top: 14px;
}

.label-kategorier {
    width: 45px;
    float: right;
}

.g6-search-kart {
    margin-left: 15px;
}

.sok-sted {
    border-radius: 15px;
}

        #googleMap {
            padding-top: 75%;
        }