.sok-kategorier {
    margin: 15px;
    width: 100%;
}

.g6-check, .g6-radio {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

.checkboxes {
    margin: 0px 15px 10px 15px;
}

.checkboxes * {
    margin-bottom: 15px !important;
}

.g6-check {
    margin-right: 12px;
}

.g6-search-kart {
    margin-left: 15px;
}

.sok-sted {
    border-radius: 15px;
    width: 90%;
}

        #googleMap {
            padding-top: 75%;
        }