html {
    overflow-y: scroll;
    
    /* For footer bottom filling */
    background-color: #f1f1eb;
}

body {
    position: relative;
    margin: 0 auto;
    font-family: 'Roboto Condensed', arial;
    font-weight: normal;
    
    /* For footer bottom filling */
    background-color: #fff;
    
    font-size: 1em;
}

p, textarea {
    font-family: 'Roboto Condensed';
}

textarea {
    color: #000;
    text-align: center;
    border-radius: 15px;
    resize: none;
}

/* Smooth transitions */
a, button, input, select, textarea {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    
    text-decoration: none; 
    font-size: 1.1em;
}

/* Add finger-pointer to buttons */
a, button { 
    cursor: pointer; 
}

/* Remove blue outline */
input:focus, button:focus, select:focus, textarea:focus {
    outline: none;
}

button, input, select, textarea {
    margin-right: 10px;
    padding: 5px 15px 5px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
}

button:hover, button:focus, input:focus, select:hover, textarea:focus {
    border-color: #666;
}

h3 {
    font-weight: normal;
}

li {
    padding: 3px;
}

/* JavaScript- hide elements by adding this class
.hide {
    visibility: hidden;
} */

/* Font awesome icons */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

        /* Header section */
        #containerHeader {
            width: 100%;
            height: 100px;
            position: relative;
            bottom: 0px;
            padding-bottom: 10px;
            margin-bottom: 50px;

            background-color: #f1f1eb;
        }

        #containerHeaderContent {
            width: 900px;
            margin: 0 auto;
        }

        .hamburger {
            padding: 15px 15px;
            display: inline-block;
            cursor: pointer;
            transition-property: opacity, filter;
            transition-duration: .15s;
            transition-timing-function: linear;
            font: inherit;
            color: inherit;
            text-transform: none;
            background-color: transparent;
            border: 0;
            margin: 0;
            overflow: visible;
            
            position: relative;
            top: -70px;
            float: right;
        }

        .hamburger:hover {
            opacity: 0.6; 
        }

        .hamburger-box {
            width: 40px;
            height: 24px;
            display: inline-block;
            position: relative;
        }

        .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -2px; 
        }

        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            width: 40px;
            height: 4px;
            background-color: #000;
            border-radius: 4px;
            position: absolute;
            transition-property: transform;
            transition-duration: .15s;
            transition-timing-function: ease; 
        }

        .hamburger-inner::before, .hamburger-inner::after {
            content: "";
            display: block; 
        }

        .hamburger-inner::before {
            top: -10px;
        }

        .hamburger-inner::after {
            bottom: -10px; 
        }

        .hamburger-anim .hamburger-inner {
            top: 2px;
            transition-duration: .275s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
        }

        .hamburger-anim .hamburger-inner::before {
            top: 10px;
            transition: opacity .125s .205s ease; 
        }

        .hamburger-anim .hamburger-inner::after {
            top: 20px;
            transition: transform .275s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
        }

        .hamburger-anim.is-active .hamburger-inner {
            transform: translate3d(0, 10px, 0) rotate(135deg);
            transition-delay: .075s; 
        }

        .hamburger-anim.is-active .hamburger-inner::before {
            transition-delay: 0s;
            opacity: 0; 
        }

        .hamburger-anim.is-active .hamburger-inner::after {
            transform: translate3d(0, -20px, 0) rotate(-270deg);
            transition-delay: .075s; 
        }

#container {
    width: 900px;
    position: relative;
    margin: 0 auto;
}

#undertitle {
    margin: 0 auto;
    margin-top: 30px;
    width: 100px;
}

#containerTopLeft {
    width: 300px;
}

        /* Search section */
        #search {
            position: relative;
            padding-top: 20px;
        }

        #search label {
            position: absolute;
            left: 10px;
            top: 27px;
        }

        #search-input {
            width: 200px !important;
            height: 23px;
            border-radius: 15px;
        }

        #search-input:focus {
            border-color: #999;
        }

        #search #search-input, #search .hint {
            padding-left: 36px;
            padding-right: 43px;
            border-radius: 23px;
        }

        #search #search-clear {
            text-decoration: none;
            position: absolute;
            margin-top: 9px;
            left: 255px;
            color: #b3b3b3;
        }

        #search #search-clear:hover {
            color: #e85c5c;
        }

        .fa-search:before {
            content: "\f002";
        }

        .fa-times-circle:before {
            content: "\f057";
        }



        #addSuggestionButton {
            position: relative;
            font-size: 0.9em;
            color: #666;
            top: 5px;
            background: #fff;
            border: none;
        }

/*
        #addSuggestionButton:hover {
            background: #eee;
        }
*/

        #addSuggestionButton i {
            margin-right: 5px;
            
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s;
        }

        #addSuggestionButton:hover > i.fa-plus {
            color: #228B22;
            
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        #addSuggestionButton:hover > i.fa-minus {
            color: #e85c5c;
            
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(180deg);
        }

        /* PLUS-MINUS button animated */
        /*
        #one, #two {
            position: absolute;
            border-radius: 3px;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -o-transition: .15s;
            -ms-transition: .15s;
            -moz-transition: .15s;
            -webkit-transition: .15s;
            transition: .15s;

            background: #228B22;
        }

        #one {
            top: 16.5px;
            left: 10px;
            right: 10px;
            height: 3px;
        }

        #two {
            top: 10px;
            left: 16.5px;
            bottom: 10px;
            width: 3px;
        }

        #icon {
            position: relative;
            width: 35px;
            height: 35px;
            background: transparent;
            border-radius: 20px;
        }

        #icon:hover {
            cursor: pointer;
            background: #eee;
        }

        #icon:hover > #two {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);

            background: #e85c5c;
        }
        */

/* Add suggestion section */  
#addSuggestion {
    visibility: hidden;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
    
    position: relative;
}

#addSuggestion * {
    margin-top: 15px;
}

#addSuggestion input {
    width: 250px;
    border-radius: 15px;
    text-align: center;
    margin-top: 15px;
}

#addSuggestion input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    text-align: center;
}

#addSuggestion input::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    text-align: center;
}

#addSuggestion input:-ms-input-placeholder { /* IE 10+ */
    color: #000;
    text-align: center;
}

#addSuggestion input:-moz-placeholder { /* Firefox 18- */
    color: #000;
    text-align: center;
}

input[name=description] {
    height: 60px !important;
}

#send {
    position: relative;
    float: right;
    margin-right: 18px;
    background-color: white;
}

        /* Sort by section */
        #sortBy {
            position: relative;
            top: -150px;
            width: 600px;
            background-color: #fff;
            padding-bottom: 130px;
        }

        #sortView {
            position: absolute;
            right: -10px;
            top: 15px;
        }

        #sortView i {
            font-size: 1.1em;
            margin-right: 10px;
            color: #666;
        }

#containerTopRight {
    width: 150px;
    position: absolute;
    top: 25px;
    right: 0px;
    margin-top: 43px;
    padding-left: 60px;
    border: 1px solid #ccc;
}

#selectCategories {
    position: relative;
    left: -40px;
}

#selectCategories h3 {
    position: relative;
    left: 0px;
    top: -11px;
    background-color: #fff;
    margin: 0 auto;
    margin-right: 35px;
    padding: 0px 15px 0px 15px;
}

#selectCategories ul {
    padding-left: 60px;
    margin-bottom: 30px;
}

        /* Content section */
        #mainContent {
            position: relative;
            top: -220px;
            width: 630px;
            margin-bottom: -250px;
        }

        .elementBlock * {
            position: relative;
        }

        .elementBlock {
            width: 100%;
            margin-right: 15px;
            margin-bottom: -50px;
        }

        .votes {
            width: 90px;
            height: 70px;
            top: 0px;
            border: 1px solid #ccc;
        }

        .text {
            top: -95px;
            left: 130px;
            margin-right: 140px;
        }

        .text p {
            color: #777;
            /* font-size: .91em; */
            min-height: 70px;
        }

/* Footer section */
#containerFooter {
    width: 100%;
    height: 400px;
    position: relative;
    bottom: 0px;
    
    background-color: #f1f1eb;
}

#containerFooterContent {
    width: 900px;
    margin: 0 auto;
}