* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    
    /* For footer bottom filling- gets crazy when responsive */
    /* background-color: #f1f1eb; */
}

body {
    position: relative;
    margin: 0 auto;
    font-family: 'Roboto Condensed', arial !important;
    font-weight: normal;
    
    /* For footer bottom filling */
    background-color: #fff;
    
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', arial !important;
}

h3 {
    font-size: 1.1em !important;
    font-weight: normal;
}

[type=submit] {
    -webkit-appearance: none !important;
}

p, textarea {
    font-family: 'Roboto Condensed';
}

textarea {
    color: #000;
    text-align: center;
    border-radius: 15px;
    resize: none;
    width: 100%;
}

/* Smooth transitions */
a, button, input, select, textarea {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    
    text-decoration: none; 
    font-size: 1.1em;
}

/* Add finger-pointer to buttons */
a, button { 
    cursor: pointer; 
}

/* Remove blue outline */
input:focus, button:focus, select:focus, textarea:focus {
    outline: none;
}

button, input, select, textarea {
    padding: 5px 15px 5px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
}

button:hover, button:focus, input:focus, select:hover, textarea:focus {
    border-color: #666;
}

li {
    padding: 3px;
}

/* JavaScript- hide elements by adding this class
.hide {
    visibility: hidden;
} */

/* Font awesome icons */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Gruppe 6 standards */
.g6-bg {
    background-color: #f1f1eb !important;
}

.g6-top {
    margin-bottom: 40px !important;
    z-index: 1000;
}

.g6-menu, .w3-dropdown-click {
    float: right !important;
    z-index: 999;
}

.g6-shadow {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1) !important;
}

.g6-shadow-2 {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1), 0 6px 15px 0 rgba(0,0,0,0.1) !important;
}

.g6-cookies {
    opacity: 0.4 !important;
}

.g6-footer {
    height: 300px !important;
}

/* Responsive design (filler of empty containers) */
.fill {
    color: transparent;
}

/* Apply below screensizes */
@media screen and (max-width: 900px) {
    
    /* we hide the label because at these screensizes, people know what the symbol means */
    #menuLabel {
        visibility: hidden;
    }
    
}

        /* Header section */
        #logo {
            margin-top: 40px;
        }

        /* Drop-down reposition */
        .w3-show-block, .w3-show {
            left: -85px !important;
        }

        .hamburger {
            padding: 15px 0px;
            display: inline-block;
            cursor: pointer;
            transition-property: opacity, filter;
            transition-duration: .15s;
            transition-timing-function: linear;
            font: inherit;
            color: inherit;
            text-transform: none;
            background-color: transparent;
            border: 0;
            margin: 0;
            overflow: visible;
            
            position: relative;
            top: -20px;
        }

        .hamburger:hover {
            opacity: 0.6; 
        }

        #menuLabel {
            margin-top: 25px;
        }

        .hamburger-box {
            width: 30px;
            height: 24px;
            display: inline-block;
            position: relative;
        }

        .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -2px; 
        }

        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            width: 30px;
            height: 4px;
            background-color: #000;
            border-radius: 4px;
            position: absolute;
            transition-property: transform;
            transition-duration: .20s;
            transition-timing-function: ease; 
        }

        .hamburger-inner::before, .hamburger-inner::after {
            content: "";
            display: block; 
        }

        .hamburger-inner::before {
            top: -10px;
        }

        .hamburger-inner::after {
            bottom: -10px; 
        }

        .hamburger-anim .hamburger-inner {
            top: 2px;
            transition-duration: .200s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
        }

        .hamburger-anim .hamburger-inner::before {
            top: 10px;
            transition: opacity .125s .205s ease; 
        }

        .hamburger-anim .hamburger-inner::after {
            top: 20px;
            transition: transform .200s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
        }

        .hamburger-anim.is-active .hamburger-inner {
            transform: translate3d(0, 10px, 0) rotate(135deg);
            transition-delay: .075s; 
        }

        .hamburger-anim.is-active .hamburger-inner::before {
            transition-delay: 0s;
            opacity: 0; 
        }

        .hamburger-anim.is-active .hamburger-inner::after {
            transform: translate3d(0, -20px, 0) rotate(-270deg);
            transition-delay: .075s; 
        }

#containerSuggestions {
    width: 250px;
    float: left;
    margin-bottom: -200px;
}

        /* Search section */
        #search {
            position: relative;
        }

        #search label {
            position: absolute;
            left: 10px;
            top: 6px;
        }

        #search-input {
            width: 100%;
        }

        #search-input:focus {
            border-color: #999;
        }

        #search #search-input, #search .hint {
            padding-left: 36px;
            padding-right: 36px;
            border-radius: 23px;
        }

        #search #search-clear {
            text-decoration: none;
            position: relative;
            top: -31px;
            left: 88%;
            color: #b3b3b3;
            font-size: inherit;
        }

        #search #search-clear:hover {
            color: #e85c5c;
        }

        .fa-search:before {
            content: "\f002";
        }

        .fa-times-circle:before {
            content: "\f057";
        }

        #addSuggestionButton {
            position: relative;
            font-size: 0.9em;
            color: #666;
            background: #fff;
            border: none;
            left: -15px;
        }

/*
        #addSuggestionButton:hover {
            background: #eee;
        }
*/

        #addSuggestionButton i {
            margin-right: 5px;
            
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s;
        }

        #addSuggestionButton:hover > i.fa-plus {
            color: #228B22;
            
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        #addSuggestionButton:hover > i.fa-minus {
            color: #e85c5c;
            
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        /* PLUS-MINUS button animated */
        /*
        #one, #two {
            position: absolute;
            border-radius: 3px;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -o-transition: .15s;
            -ms-transition: .15s;
            -moz-transition: .15s;
            -webkit-transition: .15s;
            transition: .15s;

            background: #228B22;
        }

        #one {
            top: 16.5px;
            left: 10px;
            right: 10px;
            height: 3px;
        }

        #two {
            top: 10px;
            left: 16.5px;
            bottom: 10px;
            width: 3px;
        }

        #icon {
            position: relative;
            width: 35px;
            height: 35px;
            background: transparent;
            border-radius: 20px;
        }

        #icon:hover {
            cursor: pointer;
            background: #eee;
        }

        #icon:hover > #two {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);

            background: #e85c5c;
        }
        */

/* Add suggestion section */  
#addSuggestion {
    visibility: hidden;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
    
    position: relative;
    top: -15px;
}

#addSuggestion * {
    margin-top: 15px;
}

#addSuggestion input {
    width: 100%;
    border-radius: 15px;
    text-align: center;
    margin-top: 15px;
}

#addSuggestion input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    text-align: center;
}

#addSuggestion input::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    text-align: center;
}

#addSuggestion input:-ms-input-placeholder { /* IE 10+ */
    color: #000;
    text-align: center;
}

#addSuggestion input:-moz-placeholder { /* Firefox 18- */
    color: #000;
    text-align: center;
}

input[name=description] {
    height: 60px !important;
}

#send {
    position: relative;
    float: right;

    background-color: white;
}

        /* Sort by section */
        #sortBy {
            position: relative;
            margin-bottom: 50px;
        }

        #sortByLabel {
            color: #bbb;
        }   

        #sortView {
            position: absolute;
            right: -10px;
            top: 15px;
        }

        #sortView i {
            font-size: 1.1em;
            margin-right: 10px;
            color: #666;
        }

        #nyeste {
            margin-right: 15px;
        }

.selectCategories {
    width: 170px;
    right: 0px;
    border: 1px solid #ccc;
    float: right;
}

.selectCategories h3 {
    position: relative;
    left: 10px;
    top: -13px;
    background-color: #fff;
    margin: 0 auto;
    margin-right: 35px;
    padding: 0px 15px 0px 15px;
}

.selectCategories ul {
    padding-left: 60px;
    margin-bottom: 30px;
}

        /* Content section */
        .contentBlock {
            margin-bottom: 50px;
        }
        .votes {
            width: 90px !important;
            height: 70px;
            border: 1px solid #ccc;
            margin-right: 50px;
        }

        .text {
            margin-top: -15px;
            margin-bottom: 30px;
        }

        .text p {
            color: #777;
            /* font-size: .91em; */
            min-height: 50px;
        }