/****************************************************/
/****************************************************/
/**/
/**/
/*                  main / general css              */
/**/
/**/
/****************************************************/
/****************************************************/

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    
    /* For footer bottom filling- gets crazy when responsive */
    /* background-color: #f1f1eb; */
}

body {
    position: relative;
    margin: 0 auto;
    font-family: 'Roboto Condensed', arial !important;
    font-weight: normal;
    
    /* For footer bottom filling */
    background-color: #fff;
    
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', arial !important;
}

h3 {
    font-size: 1.1em !important;
    font-weight: normal;
}

[type=submit] {
    -webkit-appearance: none !important;
}

p, textarea {
    font-family: 'Roboto Condensed';
}

p {
    color: #777;
}

textarea {
    color: #000;
    text-align: center;
    border-radius: 15px;
    resize: none;
    width: 100%;
}

/* Smooth transitions */
a, button, input, select, textarea {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    
    text-decoration: none; 
    font-size: 1.1em;
}

/* Add finger-pointer to buttons */
a, button { 
    cursor: pointer; 
}

/* Remove blue outline */
input:focus, button:focus, select:focus, textarea:focus {
    outline: none;
}

button, input, select, textarea {
    padding: 5px 15px 5px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
}

button:hover, button:focus, input:focus, select:hover, textarea:focus {
    border-color: #999;
}

li {
    padding: 3px;
}

/* JavaScript- hide elements by adding this class
.hide {
    visibility: hidden;
} */

/* Font awesome icons */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Gruppe 6 standards */
.g6-bg {
    background-color: #f1f1eb !important;
}

.g6-zindex-top {
    z-index: 1000;
}

.g6-menu, .w3-dropdown-click {
    float: right !important;
    z-index: 1;
    
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.g6-fixed {
    position: fixed !important;
}

.g6-full-width {
    width: 100% !important;
}

.g6-drop-anim {
    animation: animateMenuDrop .5s;
}

@keyframes animateMenuDrop {
    from {
        opacity: 0;
    } to { 
        opacity: 1;
    }
}

.g6-shadow {
    webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1) !important;
}

.g6-shadow-2 {
    webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1), 0 6px 15px 0 rgba(0,0,0,0.1) !important;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1), 0 6px 15px 0 rgba(0,0,0,0.1) !important;
}

.g6-shadow-3 {
    webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2) !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2) !important;
}

.g6-border-top {
    border-top: 1px solid #e8e8e8 !important;
}

.g6-border-bottom {
    border-bottom: 1px solid #e8e8e8 !important;
}

.g6-padding {
    padding: 1px 16px !important;
}

.g6-padding-both {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.g6-content-padding {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.g6-margin {
    margin-bottom: 60px;
}

.g6-margin-top {
    margin-top: 60px;
}

.g6-center {
    margin: 0 auto !important;
    text-align: center !important;
}

.g6-float-right {
    float: right !important;
}

/* Responsive design (filler of empty containers) */
.g6-fill {
    color: transparent !important;
}

/****************************************************/
/****************************************************/
/**/
/**/
/*             apply below resolutions css          */
/**/
/**/
/****************************************************/
/****************************************************/

@media screen and (max-width: 900px) {
    
    /* we hide the label because at these screensizes, people know what the symbol means */
    #menuLabel {
        visibility: hidden !important;
    }
    
    .g6-margin {
        margin-bottom: 30px !important;
    }
    
    g6-margin-top {
        margin-top: 30px !important;
    }
    
    .votes {
        margin-right: 30px !important;
    }
}

/****************************************************/
/****************************************************/
/**/
/**/
/*                  header css                      */
/**/
/**/
/****************************************************/
/****************************************************/

        /* Header section */
        #logo {
            margin-top: 40px;
        }

        .g6-top {
            margin-bottom: 40px !important;
        }
        
        .g6-no-header-space {
            margin-top: -40px;
        }

        .g6-menu-style {
            position: relative;
            border-bottom: 1px solid #ddd !important;
        }

        .g6-menu-style:hover {
            padding-left: 25px !important;
            background-color: #fbfbfb !important;
        }

        /* Drop-down reposition */
        .w3-show-block, .w3-show {
            left: -89px !important;
        }

        .w3-dropdown:first-child, .w3-dropdown-click {
                position: relative;
        }

        .w3-dropdown-hover:first-child, .w3-dropdown-click:hover {
            background-color: #ddd !important;
        }

        .hamburger {
            padding: 15px 0px;
            display: inline-block;
            cursor: pointer;
            transition-property: opacity, filter;
            transition-timing-function: linear;
            font: inherit;
            color: inherit;
            text-transform: none;
            background-color: transparent;
            border: 0;
            margin: 0;
            overflow: visible;
            
            opacity: 0.8;
        }

        .hamburger:hover {
            opacity: 1; 
        }

        #menuLabel {
            margin-top: 25px;
            /* opacity: 0.6; */ 
        }

        .hamburger-box {
            width: 30px;
            height: 24px;
            display: inline-block;
            position: relative;
        }

        .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -2px; 
        }

        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            width: 30px;
            height: 4px;
            background-color: #000;
            border-radius: 4px;
            position: absolute;
            transition-property: transform;
            transition-duration: .20s;
            transition-timing-function: ease; 
        }

        .hamburger-inner::before, .hamburger-inner::after {
            content: "";
            display: block; 
        }

        .hamburger-inner::before {
            top: -10px;
        }

        .hamburger-inner::after {
            bottom: -10px; 
        }

        .hamburger-anim .hamburger-inner {
            top: 2px;
            transition-duration: .200s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
        }

        .hamburger-anim .hamburger-inner::before {
            top: 10px;
            transition: opacity .125s .205s ease; 
        }

        .hamburger-anim .hamburger-inner::after {
            top: 20px;
            transition: transform .200s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
        }

        .hamburger-anim.is-active .hamburger-inner {
            transform: translate3d(0, 10px, 0) rotate(135deg);
            transition-delay: .075s; 
        }

        .hamburger-anim.is-active .hamburger-inner::before {
            transition-delay: 0s;
            opacity: 0; 
        }

        .hamburger-anim.is-active .hamburger-inner::after {
            transform: translate3d(0, -20px, 0) rotate(-270deg);
            transition-delay: .075s; 
        }

/****************************************************/
/****************************************************/
/**/
/**/
/*                  footer css                      */
/**/
/**/
/****************************************************/
/****************************************************/

.g6-cookies {
    opacity: 0.6 !important;
    background-color: #eee !important;
    margin-top: 40px;
    font-size: 0.9em;
}

.g6-footer {
    height: 300px !important;
}

.g6-footer-content {
    margin-top: 50px !important;
}
